p {
  text-indent: 0;
  margin-bottom: 2.5em ;
}
p + p {
  text-indent: 0em;
  margin-bottom: 2.5em ;
}

p.nogap {
  margin-bottom: 0.5em ;
}

ul.nav {
	list-style-type: none;
	list-style-position: inside;
	text-indent: 0;
	margin-left: 0;
	padding-left: 0;
}

ul.extraspace  li{
	padding-bottom: 10px;
}


ul.noindent {
	text-indent: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
}

strong.high {
    background-color: #BD0026;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
    
strong.medium {
    background-color: #FC4E2A;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

strong.low {
    background-color: #FEB24C;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.header {
	padding-top: 7px;
}

p.warning {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center ;
}

p.news {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	background-color: #B0E0E6;
	border-width: 1px;
	border-style: solid;
}

ul.nogap
{
	padding-top: 0px;
	margin-top: 0px;
	}